@media (min-width: 1301px) {
  #herodownload-responsive {
    display: none;
  }
}
@media (max-width: 1710px) {
  #hero-img,
  #vector-about {
    display: none;
  }
  #hero-div {
    text-align: center;
    margin-top: 5rem;
  }
  #about-section,
  #about-paragraph {
    text-align: center;
    margin-inline: auto;
  }
  #hero-triangle-vector {
    display: none;
  }
}

@media (max-width: 1300px) {
  #vector-contact {
    display: none;
  }
  #contact-input-container {
    margin-inline: auto;
  }
  .text-right {
    text-align: center;
  }
  #appledownload {
    display: none;
  }
  #download-responsive {
    text-align: center;
    margin-inline: auto;
  }
  #software1 {
    text-align: center;
  }
  #download-comment {
    text-align: center;
  }
  #sakura {
    display: none;
  }
  #yin-yang {
    display: none;
  }
  #circlek {
    z-index: -1;
    right: 0;
  }
  #romb1 {
    display: none;
  }
  #pentagon1 {
    display: none;
  }
}
h1 {
  font-size: 6rem;
}
#software1 {
  font-size: 3rem;
  margin: 1rem 0;
}
p {
  font-size: 2rem !important;
}
button {
  font-size: 2rem !important;
  width: 20rem !important;
  height: 5rem !important;
}
input,
textarea {
  scale: 75%;
}
#contact-input-container {
  gap: 1rem;
}
#submit-contact {
  margin-inline: auto;
  width: 24rem !important;
}
#contact-flex {
  justify-content: center;
}

@media (max-width: 800px) {
  .navbar-container {
    padding-inline: 3rem;
  }
  #hero-section,
  #about-section,
  #contact-section,
  #download-section {
    margin-inline: 2rem;
  }
  .navbar-container {
    scale: 45%;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1rem;
  }
  /* about */
  #about-paragraph {
    font-size: 1.5rem !important;
    text-align: center;
    margin-right: 5rem;
    margin-inline: auto;
  }
  button {
    scale: 50%;
  }
  button:hover {
    scale: 60%;
  }
  form,
  #submit-contact {
    scale: 70%;
  }
  /* download */
  #download-title {
    font-size: 4rem;
  }
  #software1 {
    font-size: 2rem !important;
  }
  #download-comment {
    font-size: 1.5rem !important;
  }
  #herodownload-responsive {
    scale: 90%;
  }
  #weve-beat {
    font-size: 1.5rem !important;
  }
  .footer-link {
    display: none;
  }
  #ToC {
    font-size: 2.5rem;
  }
  #hero-section {
    height: fit-content;
    margin-bottom: 1rem;
  }
  #hero-downloadbutton {
    scale: 70%;
  }
}
