:root {
  --primaryMx: 6rem;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.primary-mx {
  margin-inline: var(--primaryMx);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

.fixed {
  position: fixed;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}
